html, body {
  margin: 0;
  width: 100%;
  height: 100%; }

#header {
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/header.jpg"); }
  #header .header-title {
    top: 50%;
    left: 50%;
    position: relative;
    display: inline-block;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
    #header .header-title a {
      color: #FFFFFF;
      display: block;
      cursor: default;
      text-align: center;
      font-family: "Roboto Condensed", sans-serif;
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
    #header .header-title a:first-child {
      font-size: 48px;
      font-weight: 300; }
    #header .header-title a:last-child {
      font-size: 18px; }
    #header .header-title hr {
      width: 70%;
      height: 2px;
      border: none;
      position: relative;
      background-color: #FFFFFF; }
    #header .header-title hr::before {
      content: "";
      height: 2px;
      width: 50px;
      left: -50px;
      position: absolute;
      background-color: #FFFFFF;
      background: #FFFFFF;
      background: linear-gradient(to right, transparent, #FFFFFF);
      background: -o-linear-gradient(right, transparent, #FFFFFF);
      background: -moz-linear-gradient(right, transparent, #FFFFFF);
      background: -webkit-linear-gradient(left, transparent, #FFFFFF); }
    #header .header-title hr::after {
      content: "";
      height: 2px;
      width: 50px;
      right: -50px;
      position: absolute;
      background-color: #FFFFFF;
      background: #FFFFFF;
      background: linear-gradient(to right, #FFFFFF, transparent);
      background: -o-linear-gradient(right, #FFFFFF, transparent);
      background: -moz-linear-gradient(right, #FFFFFF, transparent);
      background: -webkit-linear-gradient(left, #FFFFFF, transparent); }

#header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-radial-gradient(transparent, black);
  background: -moz-radial-gradient(transparent, black);
  background: -o-radial-gradient(transparent, black);
  background: radial-gradient(transparent, black); }

#find-out {
  left: 50%;
  bottom: 10px;
  width: 150px;
  display: block;
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  transition-duration: 0.5s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  #find-out div {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif; }
  #find-out img {
    width: 25%;
    margin: auto;
    display: block; }

#find-out:hover {
  bottom: 5px; }
